@font-face {
  font-family: "NEXT_ART_Bold";
  src: url("/fonts/NEXT_ART_Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
body {
  margin: 0;
  padding: 0;
}

.root-container {
  margin: 0 auto;
  width: 1180px;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

.buttons-white {
  padding: 16px 36px;
  border-radius: 4px;
  font-family: "NunitoSans";
  font-weight: 700;
  color: rgba(26, 62, 62, 1);
  background-color: white;
  border: none;
  width: fit-content;

}
.buttons-dark {
  padding: 12px 24px;
  border-radius: 4px;
  font-family: "NunitoSans";
  font-weight: 700;
  color: white;
  background-color: rgba(26, 62, 62, 1);
  width: fit-content;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* ====================== */
.root-component-mobile {
  padding: 50px 16px;
}
.root-component-desktop {
  padding: 100px 0;
}
/* ====================== */
.description-title {
  font-family: "NunitoSans";
  font-weight: 400;
  color: rgba(242, 190, 34, 1);
}
.description-title-mobile {
  font-size: 16px;
}
.description-title-desktop {
  font-size: 24px;
}
/* =========================== */
.component-title {
  font-family: "NunitoSans";
  font-weight: 800;
  color: rgba(24, 18, 30, 1);
}
.component-title-mobile {
  margin-top: 8px;
  font-size: 24px;
}
.component-title-desktop {
  font-size: 32px;
}
/* ======================= */
.component-text {
  font-family: "NunitoSans";
  font-weight: 400;
  color: rgba(24, 18, 30, 1);
}
.component-text-mobile {
  font-size: 16px;
}
.component-text-desktop {
  font-size: 18px;
}